#payload-checkout-form {
    [data-role="vault-checkbox"] {
        margin-top: 1rem;
    }

    .field-inline {
        display:inline-block;
        margin-right:1rem
    }

    .pl-input {
        max-width: 500px;
        margin: 5px 0;
    }

    input.pl-input, div.pl-input {
        padding: 10px;
        display: flex;
        >div {
            width: 100%;
        }
    }

    .payment-method-wallet {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tab {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &.active {
            background: white;
            border-bottom-color: white;
        }
    }

    .tab-content {
        margin-top: 20px;
        max-width: 500px;
    }

    .ach-disclaimer {
        color: #888;
    }
}

.apple-pay-support {
    display: none;
}

@supports (-webkit-appearance: -apple-pay-button) {
    .apple-pay-support {
        display: flex;
    }
    .apple-pay-button {
        -webkit-appearance: -apple-pay-button;
    }
    .apple-pay-button-black {
        -apple-pay-button-style: black;
    }
    .apple-pay-button-white {
        -apple-pay-button-style: white;
    }
    .apple-pay-button-white-with-line {
        -apple-pay-button-style: white-outline;
    }
}
