<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span>
                Credit / Debit Card
                <!-- ko if: (isACHEnabled()) -->
                / Bank Account (ACH)
                <!--/ko-->
            </span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <form id="payload-checkout-form" pl-form="payment" afterRender="initPayload">

            <div class="payment-method-billing-address">
                <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>

            <!-- ko if: (isCardsEnabled()) -->
            <button type="button" id="card-tab" class="tab active" data-bind="click: showCardTab">Card</button>
            <!--/ko-->
            <!-- ko if: (isACHEnabled()) -->
            <button type="button" id="ach-tab" class="tab" data-bind="click: showACHTab">Bank Account (ACH)</button>
            <!--/ko-->

            <!-- ko if: (isCardsEnabled()) -->
            <div id="card-tab-content" class="tab-content">
                <div class="field required">
                    <div class="control">
                        <div pl-input="card" style="padding:10px;"></div>
                    </div>
                </div>

                <!-- ko if: (isGooglePayEnabled()) -->
                <div class="field payment-method-wallet">
                    <div class="control">
                        <div class="google-pay-support">
                            <div class="col-0">
                                <button class="gpay-button black short" type="button">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->

                <!-- ko if: (isApplePayEnabled()) -->
                <div class="field payment-method-wallet">
                    <div class="control">
                        <div class="apple-pay-support">
                            <div class="apple-pay-button apple-pay-button-black"></div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <!--/ko-->

             <!-- ko if: (isACHEnabled()) -->
            <div id="ach-tab-content" class="tab-content">
                <input type="hidden" name="payment_method[type]" value="bank_account"/>
                <div class="field required">
                    <div class="control">
                        <div class="form-control" pl-input="account_number"></div>
                    </div>
                    <div class="control">
                        <div class="form-control" pl-input="routing_number"></div>
                    </div>
                    <div class="control">
                        <select pl-input="account_type">
                            <option value="checking">Checking</option>
                            <option value="savings">Savings</option>
                        </select>
                    </div>
                </div>
                <div class="ach-disclaimer">
                    <small>By submitting I authorize the funds to be debited from the bank account above. I understand that if the funds are returned by my bank, I may be subject to a return fee, and that to revoke this authorization I can send a request to help@payload.co or (833) 593-0877 by 6 PM eastern time. I also understand that the additional convenience fee is non-refundable.</small>
                </div>
            </div>
            <!--/ko-->

            <!-- ko if: (isVaultEnabled())-->
            <div data-role="vault-checkbox" class="field choice">
                <input type="checkbox"
                    name="vault[is_enabled]"
                    class="checkbox"
                    data-bind="attr: {'id': getCode() + '_enable_vault'}, checked: vaultEnabler.isActivePaymentTokenEnabler"/>
                <label class="label" data-bind="attr: {'for': getCode() + '_enable_vault'}">
                    <span><!-- ko i18n: 'Save for later use.'--><!-- /ko --></span>
                </label>
            </div>
            <!-- /ko -->
        </form>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" type="submit" data-bind="click: placePayloadOrder">
                    Place Order
                </button>
            </div>
        </div>
    </div>
</div>
